//Variables

    $font-headings: 'PT Sans';
    $font-text: 'Arial';
    $font-size: 14px;
    $P-FontColor: #57595e;
//Mixing
   
    @mixin Button-Setting($color,$border,$size){
        background:$color;
        border: $border ;
        width: $size;
    }

//Reset 
    *{
    margin: 0;
    padding: 0;
    }
//body Settings 
    html{
        
        p{
            font-family: $font-text;
            font-size: $font-size;
        }
        
        h1, h2, h3, h4, h5, h6{
            font-family:  $font-headings;
        }
    }   
//Materialize  Overwrite Settings
    .container {
        width: 90%;
    }
    .row .col {
        padding: 0;
    }
    
    button{
        @include Button-Setting(#ff674f,none, 100px );
    }
//Header Settings
    //Spaceline Gray
        .spaceline{
            border: 1px solid black;
        }
    
     

    //Search  Settings
        #header_search {
               width: 140px;
        }
    //Nav Settings
        nav{
            //Variables
                font-family: $font-headings;
            //Nav - Materialize Overwrite
                background: white;
                color: black;
                height: 45px;
                box-shadow: 0px 6px 0px 0px #f45a40,
                0px 8px 0px 0px,
                0px 10px 0px 0px#f45a40; 
            //Orange Line Nav Bottom Settings 
                box-shadow: 0px 6px 0px 0px #f45a40,
                0px 8px 0px 0px,
                0px 10px 0px 0px#f45a40;
                
            //Nav menu links Setup    
                ul {
                    li { }
                    li a {
                        width: 100%;
                        font-weight: $font-headings, bold;
                        display: block;
                        color: #87888c;
                        text-decoration: none; 
                    }
                    li a:hover:not(.active) {
                        background-color: white; 
                        color: orange;
                    }
                    .active {
                        background-color: #87888c; }
                    }
                }

        

    

//Home Content Settings 
    //Banner Slider
        .image-slider{
            width: 100%;
        }
    //Opacity Box
        .Opacity-box{
                opacity: 0.6;
                position: absolute;
                left: 0px;
                top: 200px;
                width: 603px;
                height: 297px;
                z-index: 319;
            }
    
    //Popular Produts
        .popular-products{
            font-family: $font-text;
            color: $P-FontColor;
            font-size: $font-size;
            width: 90%;
            .popular-products-bottom-border{
                border: 1px solid lightgray;
            }

            a{
                
                @include Button-Setting(#ff674f,none, 100% );
            }
                        
            .popular-products-border{
                    border: 1px solid lightgray;
                    width: 90%;
            }
        }
//Detail Content Settings 
        //Detail page
            #main_detail_page{
                select{
                        display: inherit;
                }
            }
            
            .detail_bigshoe_border{
                border: 1px solid black;
            }
       
           
            .detail_page_thumbs_border{
                 border: 1px solid black;
                 height: 180px;
            }
            .detail_page_thumbs_image{
                img{
                    margin: auto;
                  
                }
                
            }
            
        //Detail Amount Input Resize
                #Detail-Buy-Button{
                    @include Button-Setting(#ff674f,none, 200px );
                    height: 40px;
                }
                //Deatail Page Tabs
                    #content { 
                    background: white; 
                    min-height: 400px; 
                    }
                    
                    .tabs { 
                        list-style: none; 
                        margin: 60px auto 0; 
                        
                    }
                        .tabs li { 
                        /* Makes a horizontal row */
                            float: left; 
                            
                            /* So the psueudo elements can be
                            abs. positioned inside */
                            position: relative; 
                        }
                        .tabs a { 
                        /* Make them block level
                            and only as wide as they need */
                        float: left; 
                        padding: 10px 40px; 
                        text-decoration: none;
                        
                        /* Default colors */ 
                        color: black;
                        background: #f2f1f1; 
                        
                        /* Only round the top corners */
                        -webkit-border-top-left-radius: 15px;
                        -webkit-border-top-right-radius: 15px;
                        -moz-border-radius-topleft: 15px;
                        -moz-border-radius-topright: 15px;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px; 
                        }
                        .tabs .active {
                        /* Highest, active tab is on top */
                        z-index: 3;
                        }
                        .tabs .active a { 
                        /* Colors when tab is active */
                        background: white; 
                        color: black; 
                        }
                        .tabs li:before, .tabs li:after, 
                        .tabs li a:before, .tabs li a:after {
                        /* All pseudo elements are 
                            abs. positioned and on bottom */
                        position: absolute;
                        bottom: 0;
                        }
                        /* Only the first, last, and active
                        tabs need pseudo elements at all */
                        .tabs li:last-child:after,   .tabs li:last-child a:after,
                        .tabs li:first-child:before, .tabs li:first-child a:before,
                        .tabs .active:after,   .tabs .active:before, 
                        .tabs .active a:after, .tabs .active a:before {
                        content: "";
                        }
                        .tabs .active:before, .tabs .active:after {
                        background: white; 
                        
                        /* Squares below circles */
                        z-index: 1;
                        }
                        /* Squares */
                        
                        .tabs li:before {
                        left: -10px;      
                        }
                        .tabs li:after { 
                        right: -10px;
                        }
                        
                        /* First and last tabs have different
                        outside color needs */
                        .tabs li:first-child.active a:before,
                        .tabs li:last-child.active a:after {
                        background: #222;
                        }
                        .tabs li a:before {
                        left: -20px;
                        }
                        .tabs li a:after {
                        right: -20px;
                        }
                        .group:before,
                        .group:after {
                            content: "";
                            display: table;
                        }
                        .group:after {
                            clear: both;
                        }
                        .group {
                            zoom: 1;
                        }
//Contact Content Settings
     .contact-form{
        
        
        button{
            background: #f45a40;
            text-decoration: none;
            border: none;
        }
        span{
            height: 10px;
        }
    }
    .contact-h2{
        color:#87888c;
        }

//Footer Settings
        //Footer News Letter
            .news-letter{
                background: #f45a40;
                min-height: 100px;
               .container {
                   width: 100%;
               }
                input{
                    width: 170px;
                    height: 40px;
                    background: white;
                }
                h4{
                    height: 40px;
                }
                button{
                    height: 40px;
                }
            }

        //Footer Settings
            .footer{
                section{
                    
                }
                p{
                color: $P-FontColor;
                }
                li{
                color: $P-FontColor;
                }
                ul{
                width: 100%;
                }
                background: #2a2d34;
            
                a:link {
                color: red;
                }

            /* visited link */
                a:visited {
                    color: #57595e;
                }

            /* mouse over link */
                a:hover {
                    color: htpink;
                }

            /* selected link */
                a:active {
                    color: blue;
                }
            #footer-columns{
                display: flex;
                flex-grow: 1;
                flex-basis: 0;
            }
            }



   

   

